---
layout: default
---

<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9624599461311442"
        crossorigin="anonymous"></script>
    <meta name="google-adsense-account" content="ca-pub-9624599461311442">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/security.js"></script>

</head>

<div class="container row">
    <br>

    <img id="photo" src="https://avatars.githubusercontent.com/u/71916237?v=4" width="120">

    <h3 id="name">Owais Shaikh</h3>
    <h5 id="occupation">Security Researcher &nbsp;×&nbsp; Software Engineer</h5>

    <details id="pgp">
        <summary style="font-size: 15px;">OpenPGP key ▸</summary>
        <a href="https://keys.openpgp.org/vks/v1/by-fingerprint/5B4877332829B7F48ABEC1CBCA2D14E0F9F73BA8">
            <code>5B48 7733 2829 B7F4 8ABE C1CB CA2D 14E0 F9F7 3BA8</code>
        </a>

        <p>
            If you've received a signed document from me, click on the key above to download it, then run the following commands:<br>
            <code>
                gpg --import &lt;key_name&gt;.asc<br>
                gpg --verify &lt;file_name&gt;.signed --output &lt;file_name&gt;
            </code>
        </p>
    </details>

    <a href="https://docs.google.com/document/d/1uOr6s3d2QueQjfH3GzVnUNHpAhw8Akxv" id="resume">
        <p>View résumé</p>
    </a>

    <hr />

    <p id="blurb">Hi, I'm Owais. I'm a Security Researcher. I believe in solving complex problems with simple solutions. I love
        breaking things down and exploring them in-depth, routinely getting my hands messy with new tech. I love
        contributing to open-source in any way I can.</p>

    <hr />

    <p>Connect with me</p>
    <a href="mailto:me@0x4f.in">Email</a>
    &nbsp;⋅&nbsp;
    <a href="https://github.com/0x4f53">GitHub</a>
    &nbsp;⋅&nbsp;
    <a href="https://0x4f.medium.com">Medium</a>
    &nbsp;⋅&nbsp;
    <a href="https://www.linkedin.com/in/0x4f/">LinkedIn</a>
    &nbsp;⋅&nbsp;
    <a rel="me" href="https://mastodon.social/@0x4f">Mastodon</a>

    <hr />

    <p>Donation links</p>
    <a href="https://github.com/sponsors/0x4f53/">
        <img src="https://github.com/0x4f53/0x4f53/raw/main/donation_badges/sponsors.png" 
            alt="GitHub Sponsors"
            width="72" />
    </a>
    <a href="https://www.paypal.me/0x4f">
        <img src="https://github.com/0x4f53/0x4f53/raw/main/donation_badges/paypal.png"
            alt="PayPal" 
            width="90" />
    </a>
    <a href="https://buymeacoffee.com/0x4f">
        <img src="https://github.com/0x4f53/0x4f53/raw/main/donation_badges/bmac.png" 
            alt="Buy Me A Coffee"
            width="136" />
    </a>
    <a href=bitcoin.md>
        <img src="https://github.com/0x4f53/0x4f53/raw/main/donation_badges/bitcoin.png"
            alt="Bitcoin address" 
            width="100" />
    </a>
    <a href="https://raw.githubusercontent.com/0x4f53/0x4f53.github.io/master/assets/upi_code.png">
        <img src="https://github.com/0x4f53/0x4f53/raw/main/donation_badges/gpay.png" 
        alt="GPay" 
        width="75" />
    </a>
    <a href="https://ko-fi.com/o_0x4f">
        <img src="https://github.com/0x4f53/0x4f53/raw/main/donation_badges/kofi.png"
            alt="Ko-Fi" 
            width="235" />
    </a>

</div>

<center>
    <br/>
    <b>▲▼▲▼▲</b>
    <br/>
</center>

<br>
<div class="container row">
    <h3 class="cv-title"><span class="black white-text">&nbsp;microblog&nbsp;</span></h1>
        {% assign steps = site.steps | sort: 'date' | reverse %}
        {% for step in steps %}
        <div class="item">
            <i class="vertical-line"></i>
            <h3 class="item-date">{{ step.date | date: '%B %Y' }}{% if step.enddate %} - {{ step.enddate | date: '%m/%Y'
                }}{% endif %}</h2>
                <div class="card-panel">
                    <h4 class="card-title">
                        {{ step.title }}
                    </h4>
                    <p>
                        {{ step.content }}
                    </p>
                </div>
        </div>
        {% endfor %}
        <div class="last-item">
            <i class="vertical-line"></i>
        </div>
        
        <br/><br/>
        
        <a href="#top">↑ Go to top</a>
        
        <br/>

        <center>
            <p style="opacity: 50%;">
                © Copyright 2023 Owais Shaikh. All rights reserved.
            </p>
            <img width="50" src="assets/images/mit_license_logo.png" onclick="window.open('LICENSE')">
            &nbsp;&nbsp;
            <img width="105" src="assets/images/cc_by_sa_4.0.png" onclick="window.open('https://creativecommons.org/licenses/by-sa/4.0/legalcode.txt')">
        </center>

        <br/><br/><br/><br/>
        
        <center>
            <img src="assets/images/gohome.gif" onclick="window.open('https://www.youtube.com/watch?v=dQw4w9WgXcQ')" id="deadpool" onload="security()" />
        </center>

        <br/>
        
</div>