---
layout: default
---

<head>
    <script async 
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9624599461311442"
            crossorigin="anonymous">
    </script>
    <meta name="google-adsense-account" content="ca-pub-9624599461311442">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/security.js"></script>

    <script src="{{ site.baseurl }}/assets/js/very_important.js"></script>

</head>

<div class="container row">

    <br>

    <img id="photo" src="https://avatars.githubusercontent.com/u/71916237?v=4" width="120">

    <h4 id="name">Owais Shaikh</h4>
    <h5 id="occupation">Security Researcher &nbsp;×&nbsp; Software Engineer</h5>

    <div class="center">
        <h5 class="bg-success" id="adb-not-enabled" style="display: none;">AdBlock is disabled</h5>
        <h5 class="bg-danger" id="adb-enabled" style="display: none;">AdBlock is enabled</h5>
    </div>

    <details id="pgp">
        <summary>
            🔏 OpenPGP key ▸
        </summary>
        <mdui-chip
            style="font-family: Monaco; color: greenyellow;"
            variant="outlined"
            href="https://keys.openpgp.org/vks/v1/by-fingerprint/5B4877332829B7F48ABEC1CBCA2D14E0F9F73BA8"
        >
            5B48 7733 2829 B7F4 8ABE C1CB CA2D 14E0 F9F7 3BA8
        </mdui-chip>
        <p>
            If you've received a signed document from me,
            click on the key above to download it, then run the following commands:
        </p>
        <mdui-card 
            class="microblog-card" 
            variant="outlined" 
            style="padding: 10px 15px; max-width: max-content;"
        >
            <code style="color: greenyellow;">gpg --import &lt;key_name&gt;.asc</code>
            <br/>
            <code style="color: greenyellow;">gpg --verify &lt;file_name&gt;.signed --output &lt;file_name&gt;</code>
        </mdui-card>
        <hr />
    </details>

    <p id="blurb">
        Hi, I'm Owais. I'm a Security Researcher. I believe in solving complex problems with simple solutions. I love
        breaking things down and exploring them in-depth, and contributing to open-source stuff.</p>

    <mdui-button variant="outlined" href="https://docs.google.com/document/d/1uOr6s3d2QueQjfH3GzVnUNHpAhw8Akxv"
        id="resume">
        View résumé
    </mdui-button>

    <hr />

    <p>Connect with me</p>

    <mdui-button variant="outlined" href="mailto:me@0x4f.in">Email</mdui-button>
    <mdui-button variant="outlined" href="https://www.researchgate.net/profile/Owais-Shaikh-4">Papers</mdui-button>
    <mdui-button variant="outlined" href="https://blog.0x4f.in">Blog</mdui-button>
    <mdui-button variant="outlined" href="https://github.com/0x4f53">GitHub</mdui-button>
    <mdui-button variant="outlined" href="https://www.linkedin.com/in/0x4f/">LinkedIn</mdui-button>
    <mdui-button variant="outlined" href="https://mastodon.social/@0x4f">Mastodon</mdui-button>

    <hr />

    <p>Donation link</p>
    <a href="https://github.com/sponsors/0x4f53/">
        <img src="https://github.com/0x4f53/0x4f53/raw/main/donation_badges/sponsors.png" alt="GitHub Sponsors"
            width="72" />
    </a>

    <center>
        <br />
        <p>▲⋅▼⋅▲⋅▼⋅▲</p>
        <br /><br />
    </center>

    <div class="microblog">
        {% assign steps = site.steps | sort: 'date' | reverse %}
        {% for step in steps %}

        <mdui-card class="microblog-card" variant="outlined">
            <h4 class="microblog-title">{{ step.title }}</h4>
            <p class="microblog-date">
                {{ step.date | date: '%B %Y' }}{% if step.enddate %} - {{ step.enddate | date: '%m/%Y'}}{%endif %}
            </p>
            <p>{{ step.content }}</p>
        </mdui-card>
        {% endfor %}
    </div>


</div>

<center>
    <br>
    <a href="#top">↑ Go to top</a>

    <br /><br /><br />
    <hr />

    <p style="opacity: 50%;">
        © Copyright 2023 Owais Shaikh. All rights reserved.
    </p>
    <img width="50" src="assets/images/mit_license_logo.png" onclick="window.open('LICENSE')">
    &nbsp;&nbsp;
    <img width="105" src="assets/images/cc_by_sa_4.0.png"
        onclick="window.open('https://creativecommons.org/licenses/by-sa/4.0/legalcode.txt')">


    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

    <img src="assets/images/gohome.gif" onclick="window.open('https://www.youtube.com/watch?v=dQw4w9WgXcQ')"
        id="deadpool" onload="security()" />
</center>

<br />