---
layout: default
---

<div class="container row">
    <br>

    <img src="https://avatars.githubusercontent.com/u/71916237?v=4" width="125">
    
    <h3>Owais Shaikh</h3>
    <h5>Security Researcher  &nbsp;▼&nbsp;  Software Engineer</h5>
    <a href="https://docs.google.com/document/d/1uOr6s3d2QueQjfH3GzVnUNHpAhw8Akxv"><p>View résumé</p></a>
    
    <p>Hi, I'm Owais. I'm a Security Researcher. I believe in solving complex problems with simple solutions. I love breaking things down and exploring them in-depth, routinely getting my hands messy with new tech. I love contributing to open-source in any way I can.</p>

    <p>Follow me</p>

    <a href="https://github.com/0x4f53">
        <img src="assets/github.svg" width="45">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </a>

    <a href="https://gitlab.com/ThomasCat">
        <img src="assets/gitlab.svg" width="45">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </a>

    <a href="https://twitter.com/o_0x4f">
        <img src="assets/twitter.svg" width="45">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </a>

    <a href="https://www.linkedin.com/in/0x4f/">
        <img src="assets/linkedin.svg" width="45">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
    </a>

    <a href="https://news.ycombinator.com/user?id=4f77616973">
        <img src="assets/hackernews.svg" width="45">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
    </a>

    <a href="https://www.reddit.com/user/0x736961774f">
        <img src="assets/reddit.svg" width="45">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </a>

    <p>Donation links</p>

    <a href="https://paypal.me/0x4f?country.x=IN&locale.x=en_US">
        <img src="https://img.shields.io/badge/PayPal-000000?style=for-the-badge&logo=paypal&logoColor=white" alt="PayPal" width="150"/>
    </a>
    <a href="https://github.com/0x4f53/0x4f53/blob/main/bitcoin.md">
        <img src="https://img.shields.io/badge/Bitcoin-000000?style=for-the-badge&logo=bitcoin&logoColor=white" alt="Bitcoin address" width="150"/>
    </a>
    <a href="https://github.com/sponsors/0x4f53/">
        <img src="https://img.shields.io/badge/Sponsor-000000?style=for-the-badge&logo=github-sponsors&logoColor=white" alt="GitHub Sponsors" width="150"/>
    </a>
    
    <hr>
</div>
<br>
<div class="container row">
    <h3 class="cv-title"><span class="black white-text">microblog</span></h1>
    {% assign steps = site.steps | sort: 'date' | reverse %}
    {% for step in steps %}
    <div class="item">
        <i class="vertical-line"></i>
        <h3 class="item-date">{{ step.date | date: '%B %Y' }}{% if step.enddate %} - {{ step.enddate | date: '%m/%Y' }}{% endif %}</h2>
        <div class="card-panel">
            <h4 class="card-title">
                {{ step.title }}
            </h4>
            <p>
                {{ step.content }}
            </p>
        </div>
    </div>
    {% endfor %}
    <div class="last-item">
        <i class="vertical-line"></i>
        
    </div>
</div>
