@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu.ttf") format('truetype');
}

@font-face {
    font-family: SFDisplay;
    src: url("../fonts/SFDisplay.otf") format('truetype');
}

@font-face {
    font-family: SFText;
    src: url("../fonts/SFText.otf") format('truetype');
}

@font-face {
    font-family: Monaco;
    src: url("../fonts/Monaco.ttf") format('truetype');
}

body {
    font-size: 20px;
    background-color: black;
}

code {
    font-family: Monaco, monospace;
    color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
details {
    font-family: SFText, sans-serif;
    color: whitesmoke;
}

img {
    max-width: 100%;
}

.microblog-date {
    line-height: 0pt;
    font-size: 25px;
}

.microblog {
    width: 100%;
}

mdui-button {
    line-height: 0pt;
    font-size: 20px;
    color: aquamarine;
    margin-right: 5px;
    border-color: rgba(255, 255, 255, 0.25);
}

summary {
    font-size: 15px;
}

a {
    color: aquamarine;
}

.microblog-card {
    padding: 0px 15px;
    background-color: black;
    border-color: rgba(255, 255, 255, 0.25);
    width: 100%;
}

.microblog-title {
    font-size: 26px;
    font-weight: bold;
}

hr {
    opacity: 25%;
}